[Unit]
Description=Advisor DJ Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/advisor-dj
ExecStartPre=-/usr/bin/docker network create reverse-proxy-network
ExecStartPre=/usr/bin/test -f .env.prod
ExecStart=/usr/bin/docker compose --env-file .env.prod -f docker-compose.prod.yml up -d
ExecStart=/usr/bin/docker compose -f docker-compose.proxy.yml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.proxy.yml down
ExecStop=/usr/bin/docker compose --env-file .env.prod -f docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
