[Unit]
Description=Run Advisor ingest mover every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=advisor-ingest-mover.service

[Install]
WantedBy=timers.target
